.cal_calendrier {
    /* border: 1px solid black; */

    padding: 1px;
    background-color: rgb(246, 243, 243);
    width: 500px;
    margin: auto;
    height: 500px;
    margin-left: 0%;
    /* border-collapse: collapse; */

    /* background-image: url("http://www.supportduweb.com/ftp/ybouane/scripts_astuces/javascript/calendrier/fond-250-200.gif"); */
}
.cal_calendrier th {
    /* border: 1px solid black !important; */
    /* border-bottom: 1px solid black !important; */
    background-color: #f5e8c8;
}
.cal_calendrier td {
    /* border: 1px solid black; */
    /* border-bottom: 1px solid black !important; */
    background-color: #f5e8c8;
    text-align: center;
}
.cal_aujourdhui {
    color: #ff0000;
}
.cal_jours_av_ap {
    visibility: hidden;
}
tr.lili th {
    background-color: #f5e8c8 !important;
    /* border: 1px solid black; */
}
