body {
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 0;
}

header {
    padding: 15px;
    border: 1px solid #000
}

#burger-menu {
    width: 50px;
    padding: 0 10px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0);
    transition: all 0.3s;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid #000;
}

#burger-menu.clicked {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.8);
}

nav {
    width: 300px;
    position: fixed;
    padding: 15px;
    left: -330px;
    top: 0;
    bottom: 0;
    background: #ffffff;
    border-right: 1px solid #000;
}

nav h2 {
    margin-bottom: 50px;
    text-align: center;
}

nav li {
    text-align: center;
    list-style: none;
}

nav .close-menu {
    display: block;
    float: right;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

nav .close-menu:hover {
    color: blue;
    transform: rotate(90deg);
}