/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

body {
  background-color: #777;
  color: #fff;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem auto 3rem;
      grid-template-rows: 10rem auto 3rem;
      grid-template-areas: 'header' 'main' 'footer';
  min-height: 100vh;
}

header {
  background-color: #777;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.scroll {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  width: 3rem;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

header .burger:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .burger .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
}

header .burger .line div {
  height: 100%;
  width: 50%;
  background-color: #000;
  -webkit-transition: opacity 750ms ease, -webkit-transform 500ms ease-in-out;
  transition: opacity 750ms ease, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, opacity 750ms ease;
  transition: transform 500ms ease-in-out, opacity 750ms ease, -webkit-transform 500ms ease-in-out;
}

header .burger.open:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .burger.open .line:first-child div:first-child {
  -webkit-transform: translate(4px, 6px) rotate(405deg);
          transform: translate(4px, 6px) rotate(405deg);
}

header .burger.open .line:first-child div:last-child {
  -webkit-transform: translate(-4px, 6px) rotate(-405deg);
          transform: translate(-4px, 6px) rotate(-405deg);
}

header .burger.open .line:nth-child(2) div {
  opacity: 0;
}

header .burger.open .line:nth-child(2) div:first-child {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

header .burger.open .line:nth-child(2) div:last-child {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header .burger.open .line:last-child div:first-child {
  -webkit-transform: translate(4px, -4px) rotate(-405deg);
          transform: translate(4px, -4px) rotate(-405deg);
}

header .burger.open .line:last-child div:last-child {
  -webkit-transform: translate(-4px, -4px) rotate(405deg);
          transform: translate(-4px, -4px) rotate(405deg);
}

@media (min-width: 768px) {
  header .burger {
    display: none;
  }
}

header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #9898bd;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  pointer-events: none;
  -webkit-transition: opacity 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, -webkit-transform 250ms;
  transition: transform 250ms, opacity 250ms;
  transition: transform 250ms, opacity 250ms, -webkit-transform 250ms;
}

header .header__list.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: opacity 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, -webkit-transform 250ms;
  transition: transform 250ms, opacity 250ms;
  transition: transform 250ms, opacity 250ms, -webkit-transform 250ms;
}

@media (min-width: 768px) {
  header .header__list {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: all;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    gap: 1rem;
  }
}

.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
}

.logo__container img {
  max-width: 100%;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 4rem 2rem;
  height: 100rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: justify;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 1rem;
  text-align: center;
}

p + img {
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

p + img.slide {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */