@import './reset';
@import './variables';

// @keyframes appear {
//   from {
//     transform: scale(0);
//   }
//   to {
//     transform: scale(1);
//   }
// }

body {
  background-color: #777;
  color: #fff;
  // animation: appear 1s forwards;
}

.container {
  display: grid;
  grid-template-rows: 10rem auto 3rem;
  grid-template-areas: 'header' 'main' 'footer';
  min-height: 100vh;
}

header {
  background-color: #777;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.scroll {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }

  .burger {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: 3rem;
    z-index: 1000;
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.05);
    }

    .line {
      display: flex;
      height: 20%;

      div {
        height: 100%;
        width: 50%;
        background-color: #000;
        transition: transform 500ms ease-in-out, opacity 750ms ease;
      }
    }

    &.open {
      &:hover {
        transform: rotate(180deg);
      }

      .line:first-child {
        div:first-child {
          transform: translate(4px, 6px) rotate(405deg);
        }

        div:last-child {
          transform: translate(-4px, 6px) rotate(-405deg);
        }
      }

      .line:nth-child(2) {
        div {
          opacity: 0;
        }

        div:first-child {
          transform: translateX(-100%);
        }
        div:last-child {
          transform: translateX(100%);
        }
      }

      .line:last-child {
        div:first-child {
          transform: translate(4px, -4px) rotate(-405deg);
        }

        div:last-child {
          transform: translate(-4px, -4px) rotate(405deg);
        }
      }
    }

    @include md {
      display: none;
    }
  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // position: fixed;
    opacity: 0;
    background-color: rgb(152, 152, 189);
    transform: translate(100%);
    // transform: scale(0);
    pointer-events: none;
    transition: transform 250ms, opacity 250ms;

    &.show {
      opacity: 1;
      pointer-events: all;
      // transform: scale(1);
      transform: translate(0);
      transition: transform 250ms, opacity 250ms;
    }

    @include md {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
      position: static;
      flex-direction: row;
      background-color: transparent;
      gap: 1rem;
    }
  }
}

.logo__container {
  display: flex;
  width: 5rem;

  img {
    max-width: 100%;
  }
}

main {
  grid-area: main;
  padding: 4rem 2rem;
  height: 100rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-align: justify;
}

footer {
  grid-area: footer;
  padding: 1rem;
  text-align: center;
}

p + img {
  transform: translate(-50%);
  opacity: 0;
  transition: all 500ms;

  &.slide {
    transform: translate(0);
    opacity: 1;
  }
}
